div.main {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 3em;
}

div.center {
  margin-top: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

h5,
h6 {
  margin: 0.5em;
}

h5 {
  font-size: 0.75em;
  font-weight: normal;
}

h6 {
  font-size: 0.5em;
  font-weight: normal;
  color: #333;
}
